:root {
  color-scheme: dark light; /* dark mode support for user agents that support it (https://developer.mozilla.org/en-US/docs/Web/CSS/color-scheme) */

  --color-body: hsl(0, 0%, 0%);
  --color-link: hsl(240, 100%, 50%);
  --color-hr: hsl(0, 0%, 90%);
  --ff-base: system-ui, sans-serif;

  /* Fluid Type Scale */
  /* Step -2: 12.5px → 12.8px */
  --fluid-type--2: clamp(0.7813rem, 0.7736rem + 0.0341vw, 0.8rem);
  /* Step -1: 15px → 16px */
  --fluid-type--1: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
  /* Step 0: 18px → 20px */
  --fluid-type-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
  /* Step 1: 21.6px → 25px */
  --fluid-type-1: clamp(1.35rem, 1.2631rem + 0.3864vw, 1.5625rem);
  /* Step 2: 25.92px → 31.25px */
  --fluid-type-2: clamp(1.62rem, 1.4837rem + 0.6057vw, 1.9531rem);
  /* Step 3: 31.104px → 39.0625px */
  --fluid-type-3: clamp(1.944rem, 1.7405rem + 0.9044vw, 2.4414rem);
  /* Step 4: 37.3248px → 48.8281px */
  --fluid-type-4: clamp(2.3328rem, 2.0387rem + 1.3072vw, 3.0518rem);
  /* Step 5: 44.7898px → 61.0352px */
  --fluid-type-5: clamp(2.7994rem, 2.384rem + 1.8461vw, 3.8147rem);

  /* Fluid Spacing Scale */
  /* Space xs-s: 14px → 20px */
  --fluid-space-xs-s: clamp(0.875rem, 0.7216rem + 0.6818vw, 1.25rem);
  /* Space s-m: 18px → 30px */
  --fluid-space-s-m: clamp(1.125rem, 0.8182rem + 1.3636vw, 1.875rem);
  /* Space s-l: 18px → 40px */
  --fluid-space-s-l: clamp(1.125rem, 0.5625rem + 2.5vw, 2.5rem);
  /* Space s-xl: 18px → 60px */
  --fluid-space-s-xl: clamp(1.125rem, 0.0511rem + 4.7727vw, 3.75rem);
  /* Space s-2xl: 18px → 80px */
  --fluid-space-s-2xl: clamp(1.125rem, -0.4602rem + 7.0455vw, 5rem);
}


/* ----- REST RULES ----- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  hanging-punctuation: first last; /* Safari only at the moment --> https://developer.mozilla.org/en-US/docs/Web/CSS/hanging-punctuation */
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* If no preference for reduced motion, enable smooth scrolling */
@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}


/* ----- CUSTOM RULES ----- */

html {
  max-width: 50rem;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

p,
li {
  text-wrap: pretty;
}

body {
  font-family: var(--ff-base);
  font-size: var(--fluid-type-0);
  font-weight: 300;
  color: var(--color-body);
  line-height: 1.5;
  padding-inline: var(--fluid-space-s-2xl);
  padding-block: var(--fluid-space-s-l);
}

h1, h2 {
  line-height: 1.1;
  text-wrap: balance;
}

h1 {
  font-size: var(--fluid-type-3);
  font-weight: 900;
}

h2 {
  font-size: var(--fluid-type-1);
  font-weight: 700;
}

a {
  color: var(--color-link);
  text-decoration: underline;
}

hr {
  border: 0;
  background-color: var(--color-hr);
  margin-top: 2rem;
  margin-inline: 0 auto;
  height: 0.1rem;
}


/* ----- UTILITY RULES ----- */

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.flow > * + * {
  margin-top: var(--fluid-space-xs-s);
}
