*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: system-ui, sans-serif;
  font-weight: 300;
  color: hsl(0, 0%, 0%);
  padding: 4em;
  max-width: 80ch;
}

body {
  margin: 0;
}

h1 {
  font-weight: 900;
  text-wrap: balance;
}

article {
  text-wrap: pretty;
}

a {
  color: hsl(240, 100%, 50%);
  text-decoration: underline;
}

hr {
  border: 0;
  background-color: hsl(0, 0%, 90%);
  margin-top: 2rem;
  margin-inline: 0 auto;
  height: 0.1rem;
}
