:root {
  --color-text: hsl(0, 0%, 0%);
  --color-link: hsl(240, 100%, 50%);
  --color-hr: hsl(0, 0%, 90%);
  --font-family: system-ui, sans-serif;
  --flow-space: 1em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
  font-weight: 300;
  color: var(--color-text);
  line-height: 1.5;
  padding: clamp(1em, 4vw, 4em);
  max-width: 80ch;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1 {
  font-weight: 900;
  text-wrap: balance;
}

a {
  color: var(--color-link);
  text-decoration: underline;
}

hr {
  border: 0;
  background-color: var(--color-hr);
  margin-top: 2rem;
  margin-inline: 0 auto;
  height: 0.1rem;
}

article {
  text-wrap: pretty;
}

.flow > * + * {
  margin-top: var(--flow-space);
}
